weather-excercise-api/src/main/mule/weather-excercise-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="weather-excercise-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <http:request-config name="Weather_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="40e1a1d0-7c2f-4d23-9d16-fa49f42370a4" >
		<http:request-connection host="${openweatherapi.host}" />
	</http:request-config>
	<http:request-config name="Cities_HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="aa879568-77b3-49f3-9d31-6d2dabc9a0f6" >
		<http:request-connection host="${westclickesapi.host}" />
	</http:request-config>
    <apikit:config name="weather-excercise-api-config" api="resource::27a0d62c-01f9-4b80-ad3f-b810d4db7bc3:weatherexercise:1.0.1:raml:zip:weather-excercise-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="caeb09ee-60da-4d42-9317-4e0bb4d68cd5" file="application-properties.yaml" />
	<flow name="weather-excercise-api-main">
        <http:listener config-ref="weather-excercise-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="weather-excercise-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="a87c3211-921a-4c4e-bfce-bd086331bec3">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request. Please ensure to send mandatory header value for APPID and/or query parameter countryName."}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="weather-excercise-api-console">
        <http:listener config-ref="weather-excercise-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="weather-excercise-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\cities:weather-excercise-api-config">
    
    
    <flow-ref doc:name="Common Flow Reference" doc:id="de3616e1-9135-4d59-8b4b-72fa4c41857f" name="CommonFlow"/>
    
    <http:request method="GET" doc:name="Cities Data Request" doc:id="e40eba5a-4b35-4c02-a541-f4dda4ce1bd7" config-ref="Cities_HTTP_Request_configuration" path="${westclickesapi.path}" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	c : vars.countryName,
	f : 'json'
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="e50f0faa-dc26-4627-9fbc-6c9720243fc3" message="#['City details retrieved for '+vars.countryName as String]"/>
    </flow>
    <flow name="get:\weather:weather-excercise-api-config">
    
    <flow-ref doc:name="Common Flow Reference" doc:id="feeca65a-d931-469b-b18a-abea1517cc74" name="CommonFlow"/>
		<http:request method="GET" doc:name="Weather Data Request" doc:id="184f8227-6214-44ff-967a-266a60d8f4a1" config-ref="Weather_HTTP_Request_configuration" path="${openweatherapi.path}">
			<http:query-params><![CDATA[#[output application/java
---
{
	q : vars.countryName,
	APPID : '6895e89e4f8482badf30e4a12cc1035f'
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="889d849b-ee5d-4231-b353-bfb649d51999" message="#['Weather details retrieved for '++ vars.countryName as String]"/>
    </flow>
    <flow name="CommonFlow" doc:id="947e37fd-9264-4960-9a8e-5969f522fce8" >
		<set-variable value="'Australia','India','France','New Zealand','Singapore'" doc:name="validCountries" doc:id="b3925355-64df-473d-8554-3d1e3a6e750d" variableName="validCountries" />
		<set-variable doc:name="countryName" doc:id="c39adb82-87a9-4707-9e6d-96e9d545fe92" variableName="countryName" value="#[attributes.queryParams.countryName]"/>
		<validation:is-true doc:name="is valid country" doc:id="3ac44d2e-16ca-467b-9cf5-bde9b1cd0fae" expression="#[['Australia','India','France','New Zealand','Singapore'] contains vars.countryName]"/>
		
	</flow>
</mule>
